/* font-family: 'Luckiest Guy', cursive;
font-family: 'Butterfly Kids', cursive; */
.fact {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
    color: #FF916F;
    text-shadow: 1px 1px #FF3D00;
    font-kerning: 1px;
    margin-top: -10%;
}
.gameContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

.animalContainer {
    margin-top: -40%;
    margin-right:  2%;
    margin-left: 2%;
    margin-bottom: 2%;

}

.contContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}


.continent {
    height: 60%;
    width: 65%;
    margin-left: 1%;
    margin-right: 1%;
} 

h6 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 1.25em;
    color: #FF916F;
    text-shadow: 1px 1px #FF3D00;
    font-kerning: 1px;
}

.modal-card-head h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
    color: #FF916F;
    text-shadow: 1px 1px #FF3D00;
    font-kerning: 1px;
}


