/* font-family: 'Luckiest Guy', cursive;
font-family: 'Butterfly Kids', cursive; */
.navBar {
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 5%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-top: 1%;
    font-family: 'Luckiest Guy', cursive;
    color: #FF916F;
    text-shadow: 2px 2px #FF3D00;
}

#nav_welcome {
    margin-left: -8%;
    height: 10%;
    width: 10%;
    /* margin-right: 15%; */
}

#nav__scoreList {
    font-size: 2em;
    /* margin-left: -30%;    */
}

#nav__login {
    font-size: 2em;
    /* margin-left: -30%;   */
}

#nav__logout {
    font-size: 2em;
    /* margin-left: -30%;   */
}