/* font-family: 'Luckiest Guy', cursive;
font-family: 'Butterfly Kids', cursive; */
.navBar {
    display: flex;
    flex-flow:  row;
    justify-content: space-evenly;
    align-items: stretch;
    /* height: 3%; */
    padding-bottom: 1%; 
    padding-left: 1%;
    padding-top: 1%; 
    font-family: 'Luckiest Guy', cursive;
    color: #FF916F;
    text-shadow: 2px 2px #FF3D00;
}

#nav_welcome {
    margin-left: -8%;
    height: 5%;
    width: 5%;
    flex-basis: 5;
    /* margin-top: -2%; */
    /* margin-right: 15%; */
}

#nav__scoreList {
    font-size: 2em;
    margin-top: 1%;   
}

#nav__login {
    font-size: 2em;
    margin-top: 1%;
}

#nav__logout {
    font-size: 2em;
    margin-top: 1%;
}